# Dependencies
node_modules
.pnp
.pnp.js

# Next.js
.next/
out/

# Production
build
dist

# Env files
.env
.env.local
.env.*.local

# Debug
npm-debug.log*

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Extension build
extension/out/
paste-server/venv/

# SQLite database
/data/
